*{
    background-color: gradient(linear, top);
    scroll-behavior: smooth;
    }

header{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100 px;
    z-index: 10000;
}

header .LOGO{
    color: aliceblue;
    margin-left: 19px;
    text-decoration: none;
    font-weight: bolder;
    font-size: xx-large;
    font-family: sans-serif;
}
header ul{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    
}
header ul li {
    margin-left: 20px;
    list-style: none;
}

header ul li a {
    
    color: aliceblue;
    text-decoration: none;
    padding: 6px 15px;
}
header ul li a:hover {
    background: aliceblue;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}
body{
    min-height: 100vh;
    
    /* background:linear-gradient(#2b1855,#7597da); */
    background-color: #2b1855;
    overflow-x: hidden;
    
    
    
}
section{
    position: relative;
    width: 103%;
    height: 100vh;
    margin-top: -10px;
    margin-left: -20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522,transparent);
    z-index: 500;
}
section img{
    position: absolute;
    
    left: 0;
    top: 0;
   
    width: 100%;
    height: 100%;

   pointer-events: none;
    object-fit: cover;
    
    
}
section img#front{
    z-index: 10;
}
#text{
    color: aliceblue;
    position:absolute;
    margin-top:250px;
    /* margin-left:600px; */
    font-weight: bolder;
    font-size: 80px;
    z-index: 9; 
    right:-250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;


}

#btn{
    position: absolute;
    text-decoration: none;
    border-radius: 80px;
    background-color: aliceblue;
    margin-top: 300px;
    font-size: 25px;
    z-index: 12;
    padding: 8px 30px;

}
